<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Weather API Root</title>
</head>
<body>
  <h1>Weather API!</h1>
  <p>
    Thanks for checking out my cool weather API!  I've got the following routes available:
  </p>
  <ul>
    <li><a href="/api/v1.0/precipitation">Precipitation data for the last year</a></li>
    <li><a href="/api/v1.0/tobs">Temperature data for the last year</a></li>
    <li><a href="/api/v1.0/stations">The current list of weather stations</a></li>
    <li>Going to /api/v1.0/&lt;start_date&gt; will return min, max, and mean temps for all dates after the start date.  <a href="/api/v1.0/2017-01-01">Try it!</a></li>
    <li>Going to /api/v1.0/&lt;start_date&gt;/&lt;end_date&gt; will return min, max, and mean temps for all dates between the two.  <a href="/api/v1.0/2017-01-01/2017-01-31">Try it!</a></li>
  </ul>
</body>
</html>